<header class="header">
    <div class="header__left">
        <nav class="nav">
            <ul class="nav__list">
                <li class="nav__item">
                    <a class="nav__link" href="index.html">Main</a>
                </li>
                <li class="nav__item">
                    <a class="nav__link has-subnav" href="#">Articles</a>
                    <ul class="subnav">
                        <li>
                            <a class="subnav__link" href="#">Create a website</a>
                        </li>
                        <li>
                            <a class="subnav__link" href="#">Internet marketing</a>
                        </li>
                        <li>
                            <a class="subnav__link" href="#">Video promotion</a>
                        </li>
                    </ul>
                </li>
                <li class="nav__item">
                    <a class="nav__link" href="text.html">About me</a>
                </li>
                <li class="nav__item">
                    <a class="nav__link" href="text.html">Ads</a>
                </li>
            </ul>
            </ul>
        </nav>

        <button class="burger active" type="button">
            <span>Open navigation</span>
        </button>
    </div>
    <div class="header__right">
        <nav class="nav">
            <ul class="nav__list">
                <li class="nav__item">
                    <a class="nav__link" href="profile.html">Profile</a>
                </li>
                <li class="nav__item">
                    <a class="nav__link" href="#">Log out</a>
                </li>
            </ul>
        </nav>
        <form class="search" action="search.html" method="get">
            <input class="search__input" type="text" placeholder="Search on the blog">
        </form>
    </div>
</header>